[Unit]
Description=Klipper 3D Printer Firmware %i
Documentation=https://www.klipper3d.org/
After=network-online.target
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=%USER%
WorkingDirectory=/home/%USER%/klipper
ExecStart=/home/%USER%/%i_data/systemd/klipper.script
Restart=always
RestartSec=10
